<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Books</h1>
	<table>
	<!-- otsikkorivi -->
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Year</th>
		<th>ISBN</th>
		<th>Price (€)</th>
		
	</tr>
	
	
	<tr th:each=" book : ${books}">  
	<td th:text="${book.getTitle()}">Title</td>
	<td th:text="${book.getAuthor()}">Author</td>
	<td th:text="${book.getYear()}">Year</td>
	<td th:text="${book.getIsbn()}">ISBN</td>
	<td th:text="${book.getPrice()}">Price</td>
	
	
	</tr>
	</table>
	
		<p><a href="/newbook">Add new book</a></p>
	

</body>
</html>